.justify-center {
  justify-content: center;
}
.flex-col {
  flex-direction: column;
}
.h-screen {
  height: 100vh;
}
.flex {
  display: flex;
}

.max-w-sm {
  max-width: 24rem;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
